@keyframes toastSlideDown {
    from {
        opacity: .5;
        transform: translate(-50%, -100%);
    }
}

@keyframes contextMenuOpen {
    1% {
        transform: scale(.8);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes popUp {
    1% {
        opacity: .5;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

html body {
    --app-bg: rgb(236, 240, 241);
    background: var(--app-bg) !important;
}

body #root {
    position: relative;
    z-index: 1;
}

.site .container-navbar {
    box-shadow: none !important;
}

#context-menu .list-options {
    padding: .25rem;
}

#context-menu .list-options > div {
    padding: .25rem .75rem;
    border-radius: .3rem;
    cursor: pointer;
    min-width: fit-content;
    transition: background 150ms linear;
    white-space: nowrap;
}

#context-menu .list-options > div:hover {
    background: rgb(221 221 221);
}

.navbar-user .MuiBox-root.cqThemeNewFeed:not(#container-notification) {
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 5%), 3px 6px 12px rgba(0, 0, 0, 17%) !important;
    padding: 13px !important;
    padding-bottom: 17px !important;
    width: 500px !important;
}

#container-notification .cqThemeNotiItemRead {
    min-height: 4.875rem !important;
}

.profile-navbar .navbar-search {
    position: relative !important;
    transform: translateX(-1rem) !important;
    gap: 0 !important;
}
